*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgba(70, 53, 222, 0.874);
    padding: 25px 20px;
    color: white;
    box-shadow: 0px 4px 19px 7px #35313173;
}

.icons{
    position: absolute;
    top: 25px;
    right: 20px;
}

img{
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-radius: 10px;
}

.icon{
    position: relative;
    display: inline-block;
    right: 20px;
    margin-left: 25px;
}

h1{
    text-transform: capitalize;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}

.count{
    position: absolute;
    background-color: red;
    border: none;
    border-radius: 90px;
    padding: 2px 7px;
    font-size: 12px;
    top: -10px;
    right: -10px;
}

p{
    line-height: 1.7;
    padding-bottom: 30px;
}

main{
    padding: 30px;
    word-spacing: 4px;
}

.chat{
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.chat > img{
    height: 50px;
    width: 50px;
}
